* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blue;
    color: aqua;
}
#container {
    display: flex;
    gap:24px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.user-box {
    display: flex;
    gap: 16px;
    align-items: flex-start;
    padding: 8px;
    background-color: burlywood;
    width: 20%;
    height: fit-content;
    border-radius: 8px;
}
img {
    width: 88px;
    height: 88px;
    border-radius: 50%;
}